URxvt.font: xft:hack:size=12
URxvt.letterSpace: +0
URxvt.scrollBar: false
URxvt.internalBorder: 4

urxvt*depth: 32
urxvt*background: rgba:0000/0000/0200/c800

URxvt.perl-ext-common: default,matcher,fullscreen,resize-font

! Clickable URLs
URxvt.url-launcher: firefox
URxvt.matcher.button: 1

! Fullscreen
URxvt.keysym.F11: perl:fullscreen:switch

URxvt.keysym.C-Down:  resize-font:smaller
URxvt.keysym.C-Up:    resize-font:bigger


! The current colorscheme is based on the Molokai Vim theme

! special
URxvt*foreground:   #d0d0d0
URxvt*background:   #272822
URxvt*cursorColor:  #ffffff

! black
URxvt*color0:       #27822
URxvt*color8:       #303030

! red
URxvt*color1:       #d0d0d0
URxvt*color9:       #ff0090

! green
URxvt*color2:       #66AA11
URxvt*color10:      #80FF00

! yellow
URxvt*color3:       #c47f2c
URxvt*color11:      #ffba68

! blue
URxvt*color4:       #30309b
URxvt*color12:      #5f5fee

! magenta
URxvt*color5:       #7e40a5
URxvt*color13:      #bb88dd

! cyan
URxvt*color6:       #3579A8
URxvt*color14:      #4eb4fa

! white
URxvt*color7:       #9999AA
URxvt*color15:      #ffffff
