URxvt.font: xft:Source Code Pro:size=14
URxvt.letterSpace: +0
URxvt.scrollBar: false
URxvt.internalBorder: 4

urxvt*depth: 32
urxvt*background: rgba:0000/0000/0200/c800

Xft.dpi: 155
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault
Xcursor.theme: Chameleon-Pearl-Regular-0.5
Xcursor.size:  0

URxvt*scrollBar:                      false
URxvt*mouseWheelScrollPage:           false
URxvt*cursorBlink:                    true
URxvt*saveLines:                      5000

URxvt.perl-ext-common: default,matcher,fullscreen,resize-font,vtwheel

! Clickable URLs
URxvt.url-launcher: firefox
URxvt.matcher.button: 1

! Fullscreen
URxvt.keysym.F11: perl:fullscreen:switch

URxvt.keysym.C-Down:  resize-font:smaller
URxvt.keysym.C-Up:    resize-font:bigger


! Somewhat of a Monokai color scheme

! special
*.foreground:   #d1d1d1
! *.background:   #221e2d
*.cursorColor:  #d1d1d1

! black
*.color0:       #272822
*.color8:       #75715e

! red
*.color1:       #f92672
*.color9:       #f92672

! green
*.color2:       #a6e22e
*.color10:      #a6e22e

! yellow
*.color3:       #f4bf75
*.color11:      #f4bf75

! blue
*.color4:       #66d9ef
*.color12:      #66d9ef

! magenta
*.color5:       #ae81ff
*.color13:      #ae81ff

! cyan
*.color6:       #a1efe4
*.color14:      #a1efe4

! white
*.color7:       #f8f8f2
*.color15:      #f9f8f5
